<ion-header no-shadow no-border>
  <ion-toolbar transluced="true">
      <ion-buttons slot="start">
          <ion-back-button text="Voltar" defaultHref="/home"></ion-back-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">

  <ion-label class="ion-text-center">
    <h1>Você receberá uma ligação da nossa atendente para confirmar a cobrança.</h1>
  </ion-label>


  <div class="ion-text-center ion-padding">
    <img src="../../assets/imgs/call.png" alt="">
  </div>
</ion-content>