<ion-header no-shadow no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Acessar sua conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label position="floating">
      Seu nome
    </ion-label>
    <ion-input type="email" [(ngModel)]="user.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">
      Sua número celular com DDD
    </ion-label>
    <ion-input type="number" [(ngModel)]="user.phonenumber"></ion-input>
  </ion-item>

  <br>
  <ion-button shape="round" expand="block" size="large" mode="ios" (click)="go()">
    <span *ngIf="!isLoading">ENTRAR</span>
    <ion-spinner *ngIf="isLoading"></ion-spinner>
  </ion-button>


  <br><br>
  <ion-button expand="block" mode="ios" fill="clear">Recuperar meu acesso</ion-button>

</ion-content>