<ion-header no-shadow no-border>
  <ion-toolbar transluced="true">
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <div class="ion-text-center ion-padding">
    <img src="../../assets/imgs/logo.png" alt="">
  </div>

  <div class="ion-padding">
    <br><br><br>
    <ion-button expand="block" size="large" mode="ios" [routerLink]="['/register']">CRIAR CONTA</ion-button>
    <ion-button expand="block" size="large" mode="ios" [routerLink]="['/auth']" color="secondary">JÁ TENHO CONTA</ion-button>

    <br><br>
    <ion-button expand="block" mode="ios" fill="clear" [routerLink]="['/terms']">Regulamento</ion-button>
    <ion-button expand="block" mode="ios" fill="clear" [routerLink]="['/contact']">Canal de atendimento</ion-button>


  </div>

</ion-content>