<ion-header no-shadow no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-text-center">
    <img src="../../assets/imgs/avatar2.png" alt="">

    <h1><strong><i>Maria Do Carmo</i></strong></h1>

    <div class="ion-padding">
        <ion-list>
            <ion-item class="ion-no-padding">
              <ion-label class="ion-text-center">
                Alterar meu cadastro
              </ion-label>
            </ion-item>
            <ion-item class="ion-no-padding">
              <ion-label class="ion-text-center">
                Gerenciar notificações
              </ion-label>
            </ion-item>
        
            <ion-item class="ion-no-padding">
              <ion-label class="ion-text-center">
                Histórico de pagamentos
              </ion-label>
            </ion-item>
        
            <ion-item class="ion-no-padding">
              <ion-label class="ion-text-center" color="danger">
                Sair do aplicativo
              </ion-label>
            </ion-item>
          </ion-list>
    </div>
  </div>

 

</ion-content>