<ion-header no-shadow no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/notifications']">
        <ion-icon name="ios-notifications-outline"></ion-icon>
      </ion-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Oi Maria Do Carmo!
    </ion-title>
  </ion-toolbar>
  <ion-toolbar [routerLink]="['/profile']">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="../../assets/imgs/avatar2.png" alt="">
      </ion-avatar>
      <ion-label>
          <ion-badge style="background: transparent; color: #777777; border: solid thin #777777" mode="ios">saldo: R$ 480,00</ion-badge>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding-start ion-padding-end">
      <ion-item class="ion-no-padding">
          <ion-label class="ion-text-center">
            <p>Selecione as contas que deseja pagar...</p>
          </ion-label>
        </ion-item>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card [color]="(selected == '1')? 'primary' : ''" (click)="select('1')">
          <ion-card-content>
            <ion-label>
              <h1>pagar conta de água</h1>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
          <ion-card [color]="(selected == '2')? 'primary' : ''" (click)="select('2')">
            <ion-card-content>
              <ion-label>
                <h1>pagar conta de lúz</h1>
              </ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
            <ion-card [color]="(selected == '3')? 'primary' : ''" (click)="select('3')">
              <ion-card-content>
                <ion-label>
                  <h1>pagar conta de telefone</h1>
                </ion-label>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6">
              <ion-card [color]="(selected == '4')? 'primary' : ''" (click)="select('4')">
                <ion-card-content>
                  <ion-label>
                    <h2> <ion-icon name="add-circle"></ion-icon> adicionar outra conta</h2>
                  </ion-label>
                </ion-card-content>
              </ion-card>
            </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>

<ion-footer no-border no-shadow>
  <ion-toolbar class="ion-padding">
    <ion-button (click)="scan()" expand="block" size="large" mode="ios">PAGAR</ion-button>
  </ion-toolbar>
</ion-footer>
